body{
 background-color: #d62839;
 
}

h1 {
  color: #e5e7e6;
  text-align: center;
  

}

.searchResults1 {
  border: 4px outset rgba(164,30,12,0.5);
  box-shadow: 2px 2px 7px 1px #1C6EA4;
  background-color: white;
  padding-left: 01%;
  padding-bottom: 3%;
  
  
  
}

.searchResults2 {
  border: 4px inset rgba(164,30,12,0.5);
  box-shadow: 2px 2px 7px 1px #1C6EA4;
  background-color: white;
  padding-left: 01%;
  padding-bottom: 3%;
}

.searchResults3 {
  border: 4px inset rgba(164,30,12,0.5);
  box-shadow: 2px 2px 7px 1px #1C6EA4;
  background-color: white;
  padding-left: 01%;
  padding-bottom: 1%;
}

p {
  text-decoration: underline;
  font-size: large;
}

.toptxt {
  text-align: center;
}

.searchNButton {
  text-align: center;
}
footer {
 padding-top: 100%;
}


#mapid { height: 180px; }